@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Global style */

:root {

    /* ------- COLORS ------ */
    --earthy-green: #cfdbc5;
    --Asparagus: #89a670;
    --khaki: #c3b091; 
    --red-ochre: #913831; 
    --off-white: #f2f2f1;
    --pale-gold: #e6be8a;
    --envy: #8dac9a;

    /* TYPOGRAPHY */
    --header-text: 'Poppins', sans-serif; 
    --content-text: 'Roboto', sans-serif;

    /* CLAMP  */
    --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
    --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: var(--earthy-green) url('../images/hero-image-afrobeats2.webp') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    height: 100%;
}

/* Heading */

h1 {
    text-align: center;
}

header {
    align-items: center;
    background-color: var(--Asparagus);
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-evenly;  
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* logo */
#logo {
    align-items: center;
    color: #000;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul {
    align-items: center;
    display: flex;
    text-align: center;
}

.navbar li {
    display: inline-block;
    font-size: 1rem;
    list-style: none;
    margin: 0.5em;
    width: 165px;
}

.navbar a {
    color: #000;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar a:hover,
.navbar li.active > a {
    background-color: var(--red-ochre);
    border-radius: 5px;
    color: var(--off-white);
    padding: 5px 10px;
    text-decoration: underline;
}

main {
    height: 100%;
}

/* Quiz area */

.quiz-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

#quiz-box {
    background-color: var(--earthy-green);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px 15px;
}

.question-bar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 100%;
}

.quiz-header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.question-box {
    border-radius: 5px 5px 5px 50px;
    border: 1px solid var(--Asparagus);
    width: 90%;
}

#question {
    align-items: center;
    background-color: var(--Asparagus);
    display: flex;
    font-size: 1.4rem;
    font-weight: bolder;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.question-box h2 {
    border-bottom: 1px solid var(--earthy-green);
    height: 50px;
    text-align: center;
}

#question-counter,
#incorrect-score, 
#scores {
    font-weight: bold;
}

/* Buttons */

#quiz-options {
    padding: 0 0 10px;
    width: 100%;
}

.options {
    background-color: var(--earthy-green);
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: center;
    margin: 10px 0 10px;
    padding: 10px;
    width: 100%;
}

.btn-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
    width: 100%;
}

.hide {
    display: none;
}

button {
    background-color: var(--Asparagus);
    border: 1px solid var(--Asparagus);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 5vh;
    margin: auto;
    width: 140px; 
}

.correct {
    background-color: var(--Asparagus);
    font-weight: bold;
    font-size: 1.5rem;
}

.incorrect {
    background-color: var(--red-ochre);
    color: var(--off-white);
    font-size: 1.5rem;
}

.quiz-header .fa-circle-check {
    color: var(--Asparagus);
}

.quiz-header .fa-circle-xmark {
    color: var(--red-ochre);

}

/* footer */
footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

#copyrights-socials {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

#copyrights-socials a {
    color: #000;
    text-decoration: none;
}

.font-sizing {
    font-size: small;
}

#social-networks {
    margin: 10px;
    text-align: center;
}

#social-networks li {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#social-networks a {
    color: #000;
    display: block;
    text-decoration: none;
}

/* footer ends  */

/* Modal starts */
#overlay {
    /* display: none; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.700);
}

#modal {
    background-color: var(--earthy-green);
    border: none;
    border-radius: 10px 50px;
    max-width: 80%;
    height: 33%;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/* Username form  */

/* #user-hide {
    display: none;
} */
#form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#quizzer {
    color: var(--red-ochre);
    font-size: 1.2rem;
    font-weight: bold;
}

#user-name {
    align-items: center;
    border: none;
    border-radius: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.username-box {
    margin: 20px;
}

input[type=text] {
    background: var(--off-white);
    border: var(--off-white);
    border-radius: 10px;
    margin: 20px 0 0;
    padding: 0.8em;
}

input[type=text]:focus {
    border: 1px solid var(--pale-gold);
    outline-color: var(--earthy-green);
}

.user-signup-btn { 
    background-color: var(--Asparagus);
    border: 1px solid var(--Asparagus);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px;
    padding: 0.5rem;
}

#start {
    background-color: var(--Asparagus);
    border: 1px solid var(--Asparagus);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 5vh;
    margin: auto;
    width: 160px; 
}

/* Modal ends  */

/* Screen sizes equal to or larger than 560px wide */
@media screen and (min-width: 560px) 
and (orientation: portrait) {

    .question-box {
        border-bottom: 1px solid var(--earthy-green);
        width: 90%;
    }
    
    #question {
        align-items: center;
        background-color: var(--Asparagus);
        display: flex;
        font-size: 1.4rem;
        font-weight: bolder;
        justify-content: flex-start;
        padding: 1rem;
        text-align: center;
    }
}

/* Tablets */
/* Screen sizes equal to or larger than 768px wide */
@media screen and (min-width: 768px) 
and (orientation: portrait) {
    
 
}

/* Landscape */

/* Screen sizes equal to or larger than 560px wide */
@media screen and (min-width: 540px) 
and (orientation: landscape) {
    
    #quiz-box {
        width: 43%;
    }

}

/* Screen sizes equal to or larger than 1024px wide */
@media screen and (min-width: 1024px) 
and (orientation: landscape) {
    
    body {
        aspect-ratio: 16/8;
        background: var(--earthy-green) url('../images/hero-image-afrobeats1.webp') center center/cover no-repeat;
    }

    header {
        background-color: none;
    }

    .quiz-container {
        margin-top: none;
    }

    #quiz-box {
        border-radius: 10px 50px 0 0;
        width: 100%;
    }   

    .question-box {
        border-radius: 10px 50px;
        margin-top: 5%;
        width: 50%;
    }
    
    #question {
        font-size: 1.8rem;
}

#modal {
    max-width: 30%;
}

}

/* Extra large Screen sizes equal to or larger than 2560px wide */
@media screen and (min-width: 2560px) 
and (orientation: landscape) {
    
    #quiz-box {
        margin: 25% 0 10% 15%;
        width: 30%;
    }

    .quiz-header {
        font-size: 1.8rem;
    }

    .question-box {
        font-size: 2rem;
        width: 100%;
    }

    button {
        font-size: 2.5rem;
        width: 35%; 
    }
    
}